* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.menu-header {
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}
.menu-header h1 {
  padding: 0px 0px 10px 0px;
}
.btn-container button {
  margin: 0px 0.5rem;
  width: 100px;
}
.menu-body {
  width: 70%;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, lfr);
  grid-gap: 2rem 1rem;
}
.image-container {
  padding-bottom: 15px;
}
.image-container img {
  width: 100%;
  height: auto;
}
.menu {
  text-align: center;
  padding: 10px 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  background: moccasin;
  border-radius: 0.5rem;
}
.disable {
  display: none;
}
